<div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3 top-0 start-50 translate-middle-x">
  <div class="toast-container p-3" id="toastPlacement">
    <div class="toast show">
      <div class="toast-header" id="myToast">
        <strong class="me-auto">Alert!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  </div>
</div>